@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	min-height: 100%;
	height: 100%;
}

#markdown-content h1 {
	@apply capitalize;
	@apply text-4xl;
	@apply font-bold;
	@apply pt-8;
}
#markdown-content h2 {
	@apply capitalize;
	@apply text-3xl;
	@apply font-bold;
	@apply pt-7;
}
#markdown-content h3 {
	@apply capitalize;
	@apply text-2xl;
	@apply font-bold;
	@apply pt-6;
}
#markdown-content h4 {
	@apply capitalize;
	@apply text-xl;
	@apply underline;
	@apply pt-5;
}
#markdown-content h5 {
	@apply capitalize;
	@apply text-lg;
	@apply font-bold;
	@apply pt-4;
}
#markdown-content h6 {
	@apply capitalize;
	@apply text-lg;
	@apply underline;
	@apply pt-3;
}

#markdown-content ul {
	@apply pl-4;
	@apply list-disc;
}

#markdown-content a {
	@apply font-bold;
}

@screen lg {
	#markdown-content #md-toc {
		@apply fixed right-8 top-16;
	}
}

@screen xl {
	#markdown-content #md-toc {
		@apply left-2;
	}
}

a {
	@apply underline;
}

a:hover {
	@apply text-pink-500;
}

p {
	@apply py-1;
}

blockquote {
	@apply pb-3;
}

code {
	@apply rounded;
	@apply shadow;
	@apply font-mono;
	@apply bg-gray-900;
	@apply text-gray-100;
	@apply px-1;
}

pre {
	@apply pb-8;
	@apply relative;
	@apply relative;
	@apply overflow-visible;
}

blockquote code,
pre code {
	@apply whitespace-pre;
	@apply p-2;
	@apply block;
	@apply overflow-x-auto;
}

not(pre) + pre {
	@apply mt-8;
}

code.language-output {
}

code.language-output:before {
	content: "output";
	@apply bg-gray-900;
	@apply font-mono;
	@apply pt-1;
	@apply px-2;
	@apply rounded;
	@apply text-green-300;
	@apply -top-5;
	@apply absolute;
	@apply left-0;
}
